body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
}

.node-view {
  background: #ccc;
}

.node-root {
  background: #eee;
  padding: 5px;
}

.node-parent {
  background: #ccc;
  margin-left: 20px;
  padding: 5px;
}

.node-child {
  background: #aaa;
  margin-left: 20px;
  padding: 5px;
}
